/* CART BADGE */
.ss-cart b {
  position: absolute;
  top: -5px;
  right: -8px;
  background: var(--orange);
  color: #fff;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50px;
}

/* LOGO */
.custom-logo {
  max-height: 50px;
  width: auto;
}